@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-all {
  @apply flex items-center justify-center;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin 6s linear infinite;
}
@keyframes loop-scroll-carousel {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-loop-scroll-carousel {
  animation: loop-scroll-carousel 5s linear infinite;
}
@keyframes loop-scroll-carouselX {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-loop-scroll-carouselX {
  animation: loop-scroll 5s linear infinite;
}
